<!-- your html code here -->
<div class="container px-4 py-5" id="featured-3">
    <h2 class="fs-2 text-body-emphasis fw-bold">Portfolio</h2>
    <p>Quisque auctor est vel justo pharetra accumsan. Curabitur malesuada et lacus ut aliquet. Nam nec nibh risus.
        Aenean dapibus diam id enim auctor, eu sodales nisi viverra. Aenean luctus malesuada massa, at tincidunt nibh
        fringilla id. Donec a diam in metus dignissim blandit sit amet nec risus.</p>
    <div class="row g-4 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <img class="img-fluid" src="/website/assets/img/big-project-image.png" max-width="375"></img>
            <h3 class="fs-2 text-primary text-opacity-75">Project name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec massa sagittis eros viverra
                suscipit
                sed et nulla. Aenean eleifend sapien in nibh pretium, quis ultricies justo hendrerit.</p>
        </div>
        <div class="feature col">
            <img class="img-fluid" src="/website/assets/img/big-project-image.png" max-width="375"></img>
            <h3 class="fs-2 text-primary text-opacity-75">Project name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec massa sagittis eros viverra
                suscipit
                sed et nulla. Aenean eleifend sapien in nibh pretium, quis ultricies justo hendrerit.</p>
        </div>
        <div class="feature col">
            <img class="img-fluid" src="/website/assets/img/big-project-image.png" max-width="375"></img>
            <h3 class="fs-2 text-primary text-opacity-75">Project name</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec massa sagittis eros viverra
                suscipit
                sed et nulla. Aenean eleifend sapien in nibh pretium, quis ultricies justo hendrerit.</p>
        </div>
    </div>