<div class="container-fluid  bg-white">
    <div class="container">
      <div class="row">

        <div class="col-md-4  p-5">
          <img class="img-fluid w-55 rounded-circle" style="max-width: 45vh;" src="/website/assets/img/2.jpg" ></img>
        </div>
  
        <div class="col-md-8 pe-5 d-flex align-items-center justify-content-center">
          <div>
          <h1 class="text-muted"><strong class="text-dark">The Second Heading</strong> Is Pretty Cool Too.</h1> 
          <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet metus et sem dapibus venenatis. Donec sodales cursus leo nec condimentum. Duis sollicitudin lacus et erat rutrum efficitur. Donec ultrices, enim in venenatis malesuada, lacus mi finibus ex, in molestie orci felis quis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean finibus semper venenatis. Nullam egestas nunc in nisi viverra scelerisque. Integer elementum nisi in tellus tempus, ac sollicitudin ipsum posuere. Praesent bibendum, dui vel mattis finibus, est odio tempus augue, et condimentum sapien diam quis nulla. Nam aliquet odio at est semper, eget porttitor orci viverra. Ut fringilla quam non iaculis dignissim. Quisque diam sem, lobortis in molestie ut, elementum at sem.
          </p>
        </div>    
          
        </div>
        
      </div>
    </div>
  </div>
  