<div class="container-fluid px-0">
  <div class="text-center bg-image" style="background-image: url('/website/assets/img/bg.jpg') ;
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80vh;">
    <div class="py-4 container-fluid">
      <h1 class="display-1 bg-light mt-5 fw-bold" style="font-size: 120px;"><b>One Page Wonder</b></h1>
      <h2 class="display-5 bg-light mt-1 fw-bold" style="font-size: 80px;" ><b>Will Knock Your Socks Off</b></h2>
    </div>
  </div>
</div>